/* Importazione fonts in CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #3c5b42;
	text-shadow: 4px 4px 8px #333;
}

h2 {
	font-style: italic;
	font-variant: small-caps;
}

p {
	line-height: 2rem;
	text-indent: 30px;
}

p span {
	font-size: 80px;
	font-family: cursive;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.grassettone {
	font-weight: 900;
}

/* SELETTORE DI DISCENDENTI */

.discendenti p {
	font-size: 25px;
	color: red;
}

/* SELETTORE DI FIGLI DIRETTI */

.diretti > h4 {
	font-size: 25px;
	color: red;
}

/* SELETTORE DI FRATELLI ADIACENTI */

.adiacenti + h5 {
    text-decoration: underline;
}

/* SELETTORE DI FRATELLI ADIACENTI */

.fratelli ~ h5 {
    text-decoration: underline;
}

a:link, a:visited {
    text-decoration: none;
    color: navy;
}

a:hover {
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.child, .alternato {
    border-collapse: collapse;
    width: 300px;
}

.child th, .child td {
    border: 1px solid black;
}

.child th {
    background-color: gray;
}

.child tfoot tr {
    background-color: cyan;
}

.child tbody tr:first-child, .child tbody tr:last-child {
    background-color: yellow;
}

.alternato tr:nth-child(odd) {
    background-color: gray;
}

.lista li::before {
    content: 'Studente: ';
}

.lista li::after {
    font-weight: bold;
    content: ' - Corso Epicode FS0624';
}
